.App {
  font-family: arial, sans-serif;
  background: rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin: 45px auto;
  border-radius: 15px;
  color: rgb(229, 211, 185);
  text-shadow: 1px 2px 1px #000;
}

ul {
  list-style: none;
}

.form-field {
  margin-left: 52px;
  width: 85%;
  margin-bottom: 10px;
  margin-top: 0;
}
.input-field {
  background-color: transparent;
  color: rgb(229, 211, 185);
  text-shadow: 1px 1px 1px #000;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 9px 9px 5px rgb(229, 211, 185);
}
.bottom-submit {
  background-color: transparent;
  color: rgb(229, 211, 185);
  text-shadow: 1px 2px 1px #000;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 9px 9px 5px rgb(229, 211, 185);
}
.bottom-submit:hover {
  background-color: rgb(229, 211, 185);
  color: transparent;
}
.Users-data-weather {
  margin: 0px 25px;
  padding: 0;
}

.Footer {
  color: #000;
  bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  text-shadow: #fc0 1px 0 1px;
}

.Weather-temperature img {
  margin-top: -10px;
  margin-left: -10px;
  padding: 0;
}

.Weather-temperature {
  display: flex;
  margin-left: 55px;
}

strong {
  font-size: 36px;
}

.units {
  font-size: 18px;
  position: relative;
  top: -15px;
}

.units a {
  text-decoration: none;
}
.Weather-temperature img {
  margin-top: 0px;
  margin-left: -10px;
  padding: 0;
}

.Search {
  padding-top: 15px;
}
